/***
*       Faculty and Staff Bio
*       Department Layout Styles
*
*
*/




/***
*       Organizer Styles
*
*
*/
.departmentOrganizer .organizer.standardContent {

    border: none;
    margin: 1rem;
    max-width: none;
    padding: 1rem;
}

.departmentOrganizer .standardContent h2 {

    font-family:  "Montserrat", sans-serif;
    margin-bottom: 3rem;
}




/***
*       Wrapper Styles
*
*
*/
.departmentBioWrapper {

    margin-bottom: 3rem;;
}




/***
*       Header Styles
*
*
*/
.departmentBioWrapper .departBioHeader h3 {

    font-family:  "Montserrat", sans-serif;
    margin: 0;
}

.departmentBioWrapper p.card-subtitle {

    margin: 0;
}

.departmentBioWrapper .list-group-item:first-child {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 0;
}

.departmentBioWrapper ul.contactList {

    margin: 0;
}

.departmentBioWrapper ul.contactList li {

    display: inline;
}

.departmentBioWrapper .list-group-item {

    background-color: transparent;
    border: none;
    padding: 0 2rem;
}

.departmentBioWrapper ul li:before {

    content: none;
}

.departmentBioWrapper .contactList .emailAddress {

    color: #088099;
}


.departmentBioWrapper .contactList .emailAddress a {

    color: #088099;
    text-decoration: none;
}


.departmentBioWrapper .contactList .emailAddress a:hover {

    text-decoration: underline;
}


.departmentBioWrapper .contactList .emailAddress a:active {

    text-decoration: underline;
}


.departmentBioWrapper .contactList .officePhone {

    color: #088099;
}


.departmentBioWrapper .contactList .officePhone a {

    color: #088099;
    text-decoration: none;
}


.departmentBioWrapper .contactList .officePhone a:hover {

    text-decoration: underline;
}


.departmentBioWrapper .contactList .officePhone a:active {

    text-decoration: underline;
}




/***
*       Body Styles
*
*
*/
.departmentBioWrapper .departBioSummary p.title {

    color: #aa0000;
}


.departmentBioWrapper .departBioSummary p.emailAddress {

    color: #088099;
}


.departmentBioWrapper .departBioSummary p.emailAddress a {

    color: #088099;
    text-decoration: none;
}


.departmentBioWrapper .departBioSummary p.emailAddress a:hover {

    text-decoration: underline;
}


.departmentBioWrapper .departBioSummary p.emailAddress a:active {

    text-decoration: underline;
}


.departmentBioWrapper .departBioSummary p.officePhone {

    color: #088099;
}


.departmentBioWrapper .departBioSummary p.officePhone a {

    color: #088099;
    text-decoration: none;
}


.departmentBioWrapper .departBioSummary p.officePhone a:hover {

    text-decoration: underline;
}


.departmentBioWrapper .departBioSummary p.officePhone a:active {

    text-decoration: underline;
}

 


/***
*       Image Styles
*
*
*/
.departmentBioWrapper img.deptBioImage {
    
    margin: 0;
    padding: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;

    /* padding: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;     */
}




/***
*       Bootstrap 5 defaults
*
*
*/
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}




/***
*       Faculty and Staff Bio
*       Department Layout Styles
*       
*/
