/***
*       Faculty and Staff Bio
*       Department Layout Styles
*
*
*/


/***
*       Organizer Styles
*
*
*/

.departmentOrganizer .titleWrapper.standardContent {
    margin-left: 1rem;
    padding-left: 1rem;
}

.departmentOrganizer .organizer.standardContent {
    max-width: none;
    margin: 1rem;
    padding: 1rem;
}

.departmentOrganizer .standardContent h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.25rem;
    margin-bottom: 3rem;
}


/***
*       Wrapper Styles
*
*
*/

.departmentBioWrapper {
    margin-bottom: 3rem;
}


/***
*       Styles
*
*
*/

.departmentBioWrapper h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    line-height: 1.2;
    margin: 0;
}

.departmentBioWrapper p.card-subtitle {
    font-size: 1.1rem;
    line-height: 1.2;
    margin: 0;
}

.departmentBioWrapper p.card-text {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 1rem 0 0 0;
}

.departmentBioWrapper .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 0;
}

.departmentBioWrapper ul.contactList {
    line-height: 1.5;
    margin: 0;
}

.departmentBioWrapper ul.contactList li {
    display: inline;
}

.departmentBioWrapper .list-group-item {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    padding: 0 2rem;
}

.departmentBioWrapper ul li:before {
    content: none;
}

.departmentBioWrapper .contactList .location {
    display: inline-block;
}

.departmentBioWrapper .contactList .emailAddress {
    color: #088099;
    display: inline-block;
}

.departmentBioWrapper .contactList .emailAddress a {
    color: #088099;
    text-decoration: none;
}

.departmentBioWrapper .contactList .emailAddress a:hover {
    text-decoration: underline;
}

.departmentBioWrapper .contactList .emailAddress a:active {
    text-decoration: underline;
}

.departmentBioWrapper .contactList .officePhone {
    color: #088099;
    display: inline-block;
}

.departmentBioWrapper .contactList .officePhone a {
    color: #088099;
    text-decoration: none;
}

.departmentBioWrapper .contactList .officePhone a:hover {
    text-decoration: underline;
}

.departmentBioWrapper .contactList .officePhone a:active {
    text-decoration: underline;
}


/***
*       Image Styles
*
*
*/

.departmentBioWrapper img.deptBioImage {
    margin: 0;
    padding: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.departmentBioWrapper figure {
    display: contents;
}


/***
*       Media Queries
*       
*/

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
    .departmentBioWrapper h3 {
        font-size: 1.5rem;
    }
    .departmentBioWrapper p.card-text {
        font-size: 1.05rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .departmentBioWrapper h3 {
        font-size: 1.25rem;
    }
    .departmentBioWrapper p.card-subtitle {
        font-size: 0.9rem;
        line-height: 1.2;
    }
    .departmentBioWrapper p.card-text {
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.5rem 0 0 0;
    }
    .departmentBioWrapper .list-group-item {
        font-size: 0.9rem;
        line-height: 1.5;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 991.98px) {
    .departmentBioWrapper h3 {
        font-size: 1.5rem;
    }
    .departmentBioWrapper .list-group-item {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .departmentBioWrapper h3 {
        font-size: 1.25rem;
    }
    .departmentBioWrapper p.card-subtitle {
        font-size: 1rem;
    }
    .departmentBioWrapper .list-group-item {
        font-size: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .departmentBioWrapper h3 {
        font-size: 1.15rem;
    }
    .departmentBioWrapper p.card-subtitle {
        font-size: 0.8rem;
    }
    .departmentBioWrapper .list-group-item {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 575.98px) {
    .departmentBioWrapper h3 {
        line-height: 1.4;
    }
    .departmentBioWrapper p.card-subtitle {
        line-height: 1.4;
    }
    .departmentBioWrapper .list-group-item {
        line-height: 1.4;
    }
}


#zoneA.col-md-6 {}


/***
*       Faculty and Staff Bio
*       Department Layout Styles
*       
*/