/***
*       Faculty and Staff Bio
*       Department Layout Styles
*
*
*/




/***
*       Organizer Styles
*
*
*/
.departmentOrganizer .organizer.standardContent {

    border: none;
    max-width: none;
}

.departmentOrganizer .standardContent h2 {

    font-family:  "Montserrat", sans-serif;
    margin-bottom: 3rem;
}




/***
*       Wrapper Styles
*
*
*/
.departmentBioWrapper {

    margin-bottom: 3rem;;
}




/***
*       Header Styles
*
*
*/
.departmentBioWrapper .departBioHeader h3 {

    font-family:  "Montserrat", sans-serif;
}




/***
*       Body Styles
*
*
*/
.departmentBioWrapper .departBioSummary p.title {

    color: #aa0000;
}


.departmentBioWrapper .departBioSummary p.emailAddress {

    color: #088099;
}


.departmentBioWrapper .departBioSummary p.emailAddress a {

    color: #088099;
    text-decoration: none;
}


.departmentBioWrapper .departBioSummary p.emailAddress a:hover {

    text-decoration: underline;
}


.departmentBioWrapper .departBioSummary p.emailAddress a:active {

    text-decoration: underline;
}


.departmentBioWrapper .departBioSummary p.officePhone {

    color: #088099;
}


.departmentBioWrapper .departBioSummary p.officePhone a {

    color: #088099;
    text-decoration: none;
}


.departmentBioWrapper .departBioSummary p.officePhone a:hover {

    text-decoration: underline;
}


.departmentBioWrapper .departBioSummary p.officePhone a:active {

    text-decoration: underline;
}

 


/***
*       Image Styles
*
*
*/
.departmentBioWrapper img.deptBioImage {
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;    
}




/***
*       Bootstrap 5 defaults
*
*
*/
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}




/***
*       Faculty and Staff Bio
*       Department Layout Styles
*       
*/
